{% extends "base.html" %}
{% load static %}

{% block title %}Knits&Knots{% endblock %}

{% block content %}



<section class="py-5 text-center container-fluid">
  <div class="row py-lg-3">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h1 class="h1 fw-bold">Crochet, embroidery, or macramé?</h1>
      <br>
      <p>Welcome to Knits&Knots, where we celebrate the beautiful art of
        thread and fibre work!
        <br><br>
        Whether you're experienced or just starting out, we provide everything you need to
        unleash your creativity and create stunning pieces and fun projects.
        <br><br>
        From yarns to cords, our online store has all the supplies you need to bring your fibre projects to life. Join
        our
        community of creative enthusiasts and let's make breathtaking pieces together.
        <br><br>
        Get ready to explore the world
        of fibres and discover your new favorite type of yarn!</p>
      <br><br>

      <button><a href="{% url 'product' %}">Let's get shopping</a></button>


    </div>
  </div>
</section>



{% endblock %}