{% extends "base.html" %}
{% load static %}

{% block title %}Knits&Knots{% endblock %}

{% block content %}

  <section class="videocall-banner row">
    <div class="col-12">
      <h3>
        Stuck in a project and don't know how to proceed? 
      </h3>
      <br><br>
      <p>
      We got you!
      </p>
      <br><br>
      <p>
        For members, we offer a free video tutorial, helping you out with materials and techniques,
        so that you can create amazing things!
      </p>
       <br><br>

        {% if user.is_authenticated %}
        <a class="btn btn-green btn-lg" href="{% url 'videocall' %}">
          Need help? We got you!
        </a>
        {% else %}
        <a class="btn btn-green btn-lg" href="{% url 'videocall_description' %}">See what we can help you with!</a>
        </li>
        {% endif %}
    </div>
  </section>

<!-- Website introduction -->
<section class="py-5 text-center container-fluid">
  <div class="row py-lg-3">
    <div class="col-lg-10 col-md-12 mx-auto">
      <h1 class="h1 fw-bold">Crochet, seweing, embroidery, or macramé?</h1>
      <br>
      <p>Welcome to Knits&Knots, where we celebrate the beautiful art of
        thread and fibre work!
        <br><br>
        Whether you're experienced or just starting out, we provide everything you need to
        unleash your creativity and create stunning pieces and fun projects.
        <br><br>
        From yarns to cords, our online store has all the supplies you need to bring your fibre projects to life. Join
        our
        community of creative enthusiasts and let's make breathtaking pieces together.
        <br><br>
        Get ready to explore the world
        of fibres and discover your new favorite type of yarn!</p>
      <br><br>

      <a class="btn home-btn" id="all-products-page" aria-label="Let's Thread, go to all products page"
        href="{% url 'product' %}">Let's thread!</a>

    </div>
  </div>
</section>



{% endblock %}