{% extends 'base.html' %}
{% load static %}

{% block title %}{{request.user.username}}'s Profile{% endblock %}

<!-- Template for registered users 
    private profile page, including a
    history of orders -->

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-center">Hi {{request.user.username}}!</h2>
            <hr>
        </div>
    </div>
    <a href="{% url 'wishlist_view' %}">Wishlist</a>

    <!-- Form to update personal information for deliveries -->
    <div class="row">
        <div>Default Delivery Information</div>
        <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
            {% csrf_token %}
            {{ form | crispy}}
            <button class="btn btn-green text-uppercase">Update Information</button>
        </form>

        <!-- Order history -->
        <div>Order History</div>
        <div class="table-responsive order-history-table">
            <table class="table table-sm table-borderless">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Date</th>
                        <th>Items</th>
                        <th>Order Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>
                            <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                {{ order.order_number|truncatechars:6 }}
                            </a>
                        </td>
                        <td>{{ order.date }}</td>
                        <td>
                            <ul class="list-unstyled">
                                {% for item in order.lineitems.all %}
                                <li class="small">
                                    {{ item.product.name }} x{{ item.quantity }}
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>${{ order.grand_total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}