{% extends "base.html" %}
{% load static %}

{% block title %}Wishlist{% endblock %}

{% block content %}
MY WISHLIST

{% for product in wishlist_item %}

<div>
  <p>
    {% if product.image %}
    <a href="{% url 'product_detail' product.id %}">
      <img class="img-fluid product-img" src="{{ product.image.url }}" alt="{{ product.name }}">
    </a>
    {% else %}
    <a href="{% url 'product_detail' product.id %}">
      <img class="img-fluid product-img" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }}">
    </a>
    {% endif %}
    <p>{{ product.name }}</p>
    <a href="{% url 'delete_wishlist_item' product.id 'wishlist' %}" aria-label="Remove product from wishlist"
      class="text-danger ml-3">
      <p class="small mt-1 mb-0 text-muted">Remove from Wishlist</p>
    </a>

  </p>
</div>

{% endfor %}

{% endblock %}