{% extends 'base.html' %}
{% load static %}
{% load basket_tools %}
{% block title %}Shopping basket{% endblock %}

{% block content %}


<div class="container mb-2">
    <div class="row">
        <div class="col">
            <h2 class="text-center"><strong>Shopping Basket</strong></h2>
            <hr class="mx-auto">
        </div>
    </div>

    {% if basket_items %}
    <div class="row">
        {% for item in basket_items %}
            <div class="col-4 mt-5">
                {% if item.product.image %}
                <img class="img-fluid img-thumbnail" src="{{ item.product.image.url }}">
                {% else %}
                <img class="img-fluid img-thumbnail" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ item.product.name }}">
                {% endif %}
            </div>
    
            <div class="col-4 mt-5">
                <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                <p class="my-0">Price: ${{ item.product.price }}</p>
                <p class="my-0">Total: ${{ item.product.price | calc_subtotal:item.quantity }}</p>
            </div>

            <!-- Update Basket -->
            <div class="col-4 mt-5">
                    <form method="POST" action="{% url 'update_basket' item.item_id %}" class="form update-form">

                        <!-- Basket Item Quantity -->
                        {% csrf_token %}
                        <div class="form-group">
                            <p>Quantity:</p>
                            <div class="input-group">
                                <div class="input-group-prepend">

                                    <!-- Decrement Quantity -->
                                    <button class="decrement-qty btn btn-sm rounded-0" data-item_id="{{ item.item_id }}"
                                        id="decrement-qty_{{ item.item_id }}">
                                        <span class="icon">
                                            <i class="fas fa-minus fa-sm"></i>
                                        </span>
                                    </button>
                                </div>

                                <input class="form-control form-control-sm qty_input text-center" type="number"
                                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                    data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                <div class="input-group-append">

                                    <button class="increment-qty btn btn-sm rounded-0" data-item_id="{{ item.item_id }}"
                                        id="increment-qty_{{ item.item_id }}">
                                        <span class="icon">
                                            <i class="fas fa-plus fa-sm"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <a class="update-link btn-green btn-link" id="update-product-btn"><small>Update</small></a>
                    <a class="remove-item text-danger float-right btn-link basket-delete-btn" id="remove_{{ item.item_id }}">
                    <small>Remove product</small></a>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-12 mt-4 text-right">
                <h6><strong>
                        <p>Total products: ${{ total|floatformat:2 }}</p>
                    </strong></h6>
                <h6>
                    <p>Delivery: ${{ delivery|floatformat:2 }}</p>
                </h6>
                <h4 class="mt-4"><strong>
                        <p>Grand Total: ${{ grand_total|floatformat:2 }}</p>
                    </strong></h4>
                {% if free_delivery_delta > 0 %}
                <p class="mb-1 text-danger">
                    Spend an extra <strong>${{ free_delivery_delta }}</strong> to get free delivery!
                </p>
                {% endif %}
            </div>
        </div>

        <div class="row mt-4 mb-4">
            <div class="col-12 text-right">
                <a href="{% url 'product' %}" class="btn rounded-0 btn-lg basket-btn bag-back-btn">
                    <span class="icon text-uppercase">
                        <i class="fas fa-chevron-left"></i>
                        Keep Shopping
                    </span>
                </a>

                <a href="{% url 'checkout' %}" class="btn rounded-0 btn-lg basket-btn checkout">
                    <span class="text-uppercase btn-green">Secure Checkout</span>
                    <span>
                        <iconify-icon class="mt-1" icon="material-symbols:lock-outline"></iconify-icon>
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </a>
            </div>
            {% else %}

            <div class="col-12 text-center">
                <h2 class="m-5">Your basket is empty!</h2>
                <a href="{% url 'product' %}" class="btn btn-green rounded-0 btn-lg shop-btn logo">
                  <span>
                    <i class="fas fa-chevron-left"></i>
                  </span>
                  Let's find some goodies!
                </a>
              </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}


{% block postloadjs %}
{{ block.super }}
{% include 'includes/quantity_btn_script.html' %}
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var color = $(this).data('product_color');
        var url = `remove/${itemId}`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_color': color,
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>

{% endblock %}