{% extends 'base.html' %}
{% load static %}
{% block title %}Shopping basket{% endblock %}

{% block content %}


<div class="row">
    <div class="col-lg 12">
        <div class="box-element">

            <br>

            <table class="table">
                <tr>
                    <th>
                        <h5>Items: <strong>3</strong></h5>
                    </th>
                    <th>
                        <h5>Total: <strong>35£</strong></h5>
                    </th>
                    <th>

                    </th>
                </tr>
            </table>
        </div>

        <br>

        {% if basket_items %}
            Stuff in basket
        {% else %}
            Your basket is empty
            <a href="/">Continue shopping</a>
        {% endif %}

        <div class="box-element">

            <div class="cart-row">
                <div style="flex: 2"></div>
                <div style="flex: 2"><strong>Item</strong></div>
                <div style="flex: 1"><strong>Price</strong></div>
                <div style="flex: 1"><strong>Quantity</strong></div>
                <div style="flex: 1"><strong>Total</strong></div>
            </div>

            <div class="cart-row">
                <div style="flex: 2"></div>
                <div style="flex: 2">
                    <p></p>
                </div>
                <div style="flex: 1">
                    <p></p>
                </div>
                <div style="flex: 1">
                    <p class="quantity"></p>
                    <i class="quantity bi bi-caret-up-fill"></i>

                    <i class="bi bi-caret-down-fill"></i>
                </div>
                <div style="flex: 1">8.98</div>
            </div>

        </div>
        <a href="{% url 'checkout:checkout' %}">Checkout page URL</a>
        <a href="/">Continue shopping</a>
    </div>
</div>

{% endblock %}