{% extends 'base.html' %}

{% block title %}Question sent{% endblock %}

{% block content %}

<div class="text-center mt-5">
    <h1>Thank you for reaching out!</h1>
    <p>We'll get back to you as soon as possible.</p>

    <div class="col-12">
        <button class="btn">
            <span class="icon text-uppercase">
                <a href="{% url 'product' %}">
                    <i class="fas fa-chevron-left"></i>
                    Back to products
            </span>
        </button>
        </a>
    </div>
</div>

{% endblock %}