/*GOOGLE FONT IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Palanquin&display=swap');


/*  ------------------------------ BASE SETTINGS  ------------------------------ */
* {
    box-sizing: border-box
}


html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    min-height: 100vh;

    position: relative;
}

.background {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    min-height: 80vh;

    background-image: url("https://res.cloudinary.com/dg4yefryk/image/upload/v1694707711/background_2_rolxdf.png");
}

h1 {
    font-family: 'Autour One', cursive;
}

p {
    font-family: 'Palanquin', sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
}

img {
    max-height: 23rem;
}


/*  ------------------------------ BANNER  ------------------------------ */

.banner {
    margin: auto;
    max-width: fit-content;
    padding: 10px;
}


/*  ------------------------------ NAVBAR  ------------------------------ */

.nav {
    background-color: #C5C0F1;
    align-items: center;
}

.nav-link,
.navbar-brand {
    font-size: 1.2rem;
    color: rgba(0,0,0,.7);
}

.basket {
    font-size: 1.4rem;
    float: left;
    clear: none
}

.nav-link:hover {
    color: #000;
}

.search-form {
    margin: auto;
    width: 50%;
}

.free-delivery-banner {
    font-family: 'Palanquin', sans-serif;
    background-color: #66B100;
    margin-bottom: 1rem;
    padding: 5px 5px;
    text-align: center;
}

.videocall-banner {
    background-color: #C5C0F1;
    background-image:
      linear-gradient(
        #C5C0F1, #918acc
      );
    text-align: center;
}

/*  ------------------------------ BUTTONS  ------------------------------ */

/*General buttons*/

button {
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: #000;
}

button a:hover {
    color: #000;
}

.btn-link {
    cursor: pointer;
}

.btn-green {
    background-color: #66B100 !important;
    color: #000 !important;
    margin: 10px;
}

.btn-green:hover {
    background-color: #65a111 !important;
    color: #000 !important;
    margin: 10px;
}

.btn-red {
    background-color: #e21313 !important;
    color: #000 !important;
    margin: 10px;
}

.btn-red:hover {
    background-color: #b30e0e !important;
    color: #000 !important;
    margin: 10px;
}

.btn-delete {
    border: #66B100 2px solid;
}

.btn-cancel {
    border: red 2px solid;
}

/*
Home button design:
https://css-tricks.com/css-link-hover-effects/#aa-the-sliding-highlight-link-hover-effect
*/
.home-btn {
    font-size: 3rem;
    font-family: 'Autour One', cursive;
    border: 1px #C5C0F1 solid;
    box-shadow: inset 0 0 0 0 #66B100;
    background-color: transparent;
    color: #000000;

    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
}

.home-btn:hover {
    box-shadow: inset 400px 0 0 0 #C5C0F1;
    color: rgb(0, 0, 0);
}

/*Basket buttons*/

.increment-qty,
.decrement-qty {
    background-color: transparent;
}

.basket-btn {
    cursor: pointer;
}

/*Button for scrolling back to the top of tha page
Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_scroll_to_top*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    
    border: solid 1px #000;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    padding: 15px;

    color: #000;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #66B100;
}

/* Update product qty */

#update-product-btn:hover {
    color: #66B100 !important;
}

/* Tag buttons */

.tag-btn {
    background-color: #66B100 !important;
    margin: 10px;
}

.tag-btn:hover {
    transform: translate(0, -7px);
    transition: ease-in-out 400ms;

    background-color: #66B100 !important;
}

/* Add to wishlist */

.btn-wishlist {
    background-color: #C5C0F1 !important;
    margin: 10px;
}

/*  ------------------------------ PRODUCT CARDS  ------------------------------ */

.card-body {
    width: 30vw;
}

.product-card {
    width: 20rem;
    height: 25rem !important;
}

.product-card:hover {
    transform: translate(0, -7px);
    transition: ease-in-out 400ms;
}

/*  ------------------------------ FOOTER  ------------------------------ */

/*Split footer into 2 columns:
https://stackoverflow.com/questions/867587/css-footer-trying-to-split-into-2-columns*/

.footer {
    clear: both;

    width: 100%;
    border: 1px solid #000;
    background-color: #C5C0F1;
}

footer a {
    font-size: 2rem;
    color: black;

    margin-left: 20px;

    text-decoration: none;
}

footer a:hover {
    color: #66B100;

    text-decoration: none;
}

#social-media-links {
    float: left;
}

#newsletter-subscribe {
    float: right;
}


/*  ------------------------------ MAILCHIMP  ------------------------------ */

#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 300px;
}


/*  ------------------------------ FORMS  ------------------------------ */

/*Form styling based on my previous project:
https://github.com/AuroraStorm-sw/Inspired-Ink*/

label {
    /*Source for aligning labels and inputs:
    https://www.w3docs.com/snippets/html/how-to-align-labels-next-to-inputs.html;*/
    display: inline-block;
    width: 12rem;
    text-align: left;
    
    font-family: 'Palanquin', sans-serif;
}

form {
    padding-bottom: 3rem;
}

form p {
    margin: 1rem;
}

.signup-form {
    margin-top: 5rem;
    text-align: center;
}

/* Videocall form */

.videocall-container {
    min-height: 70vh;
}

#id_comment,
#id_message {
    max-height: 200px;
    resize: none;
}

/* Contact form */

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}

/*  ------------------------------ PROFILE   ------------------------------ */

.order-history-table {
    max-height: 400px;
    overflow-y: auto;
}

/* Profile data form */

input[type=number]#id_default_phone_number::-webkit-inner-spin-button, 
input[type=number]#id_default_phone_number::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
     margin: 0; 
}

input[type=number]#id_default_phone_number {
    -moz-appearance: textfield;
}
/*  ------------------------------ WISHLIST   ------------------------------ */

.wish-row {
    min-height: 100vh;
}

/*  ------------------------------ TOASTS   ------------------------------ */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bag-notification {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.free-delivery {
    background-color: #C5C0F1;
}


/* ------------------------------ CHECKOUT  ------------------------------ */

.payment-border {
    border: 3px solid #000;
}

/* Checkout Overlay */

.loading-icon {
    color: #66B100;
    font-size: xx-large;
}
  
/* Overlay styling from Boutique Ado walkthrough */
#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #c5c0f16c;
    z-index: 9999;
}
  
.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* Remove increment on forms inputs for phone number
    Source: https://stackoverflow.com/questions/28320349
*/

input[type=number]#id_phone_number::-webkit-inner-spin-button, 
input[type=number]#id_phone_number::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
     margin: 0; 
}

input[type=number]#id_phone_number {
    -moz-appearance: textfield;
}


/*------------------------------ ABOUT US  ------------------------------ */

/* FAQ */

.faq-list {
    list-style: none;
}

/*Horizontal tab
Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_full_page_tabs
*/

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}
  
.tablink:hover {
    background-color: #C5C0F1;
}

.tablink:active {
    background-color: #C5C0F1;
}


/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: rgb(0, 0, 0);
    display: none;
    padding: 100px 20px;
    min-height: 100%;
}

#Returns {
    background-color: rgb(197, 202, 149);
}
#Order {
    background-color: rgb(117, 197, 117);
}
#Delivery {
    background-color: #C5C0F1;
}
#Products {
    background-color: rgb(238, 180, 73);
}