/*GOOGLE FONT IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Palanquin&display=swap');



/*--------------- BASE SETTINGS --------------- */

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    min-height: 100vh;

    position: relative;
}

.background {
    min-height: 80vh;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-image: url("https://res.cloudinary.com/dg4yefryk/image/upload/v1694707711/background_2_rolxdf.png");
}

h1 {
    font-family: 'Autour One', cursive;
}

p {
    font-family: 'Palanquin', sans-serif;
    font-size: 1.3rem;
}


/*--------------- BANNER --------------- */


.banner {
    margin: auto;
    max-width: fit-content;
    padding: 10px;
}


/*--------------- NAVBAR --------------- */

.nav {
    background-color: #C5C0F1;
}

.navbar-nav {
    float: none;
    text-align: center;
}

.nav-link,
.navbar-brand {
    font-size: 1.2rem;
    color: #000;
}



/*--------------- Buttons --------------- */

/*
Button design by Temani Afif
https://codepen.io/t_afif/pen/VwxbdpV
*/

button {
    --b: 3px;
    /* border thickness */
    --s: .15em;
    /* size of the corner */
    --c: #66B100;

    padding: calc(.05em + var(--s)) calc(.3em + var(--s));
    color: var(--c);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--c) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .2em;
}

button:hover,
button:focus-visible {
    --_p: 0px;
    outline-color: var(--c);
    outline-offset: .05em;
}

button:active {
    background: var(--c);
    color: #fff;
}

button {
    font-family: system-ui, sans-serif;;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    margin: .1em;
}

button a {
    text-decoration: none;
    color: #000;
}

button a:hover {
    color: #000;
}


/*--------------- PRODUCT CARDS --------------- */


.product-card {
    width: 20rem;
}


/*--------------- FOOTER --------------- */

/*Split footer into 2 columns:
https://stackoverflow.com/questions/867587/css-footer-trying-to-split-into-2-columns*/

.footer {
    clear: both;

    width: 100%;
    border: 1px solid #000;
    background-color: #C5C0F1;
}

footer a {
    font-size: 2rem;
    color: black;

    margin-left: 20px;

    text-decoration: none;
}

footer a:hover {
    color: #66B100;
}

#social-media-links {
    float: left;
}
   
#newsletter-subscribe {
    float: right;
}






tr {
    background-color: rgb(235, 187, 187);
}

.cart-row {
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececee;
}

.quantity {
    display: inline-block;
    padding-right: 10px;
}