{% load static %}

<!-- TOP NAVBAR -->
<ul class="nav justify-content-end">

    {% if user.is_authenticated %}
    {% if user.is_superuser %}
    <li><a class="nav-link" href="">Product Management</a></li>
    {% endif %}
    <li><a class="nav-link" href="{% url 'wishlist' %}">Wishlist</a></li>
    <li><a class="nav-link" id="user-options" href="#">{{request.user.username}}'s Profile</a></li>
    <li><a class="nav-link" href="{% url 'account_logout' %}">Sign out</a></li>
    {% else %}

    <li><a class="nav-link" href="{% url 'account_login' %}">Sign in</a></li>
    <li><a class="nav-link" href="{% url 'account_signup' %}">Create Account</a></li>

    {% endif %}

    <li class="nav-item">
        <a type="button" role="button" href="" class="btn basket"><i class="bi bi-cart4"></i>
            <span>1</span>
            <p>
                {% if grand_total %}
                £{{ grand_total|floatformat:2 }}
                {% else %}
                £0.00
                {% endif %}
            </p>
        </a>
    </li>
</ul>

<!-- BANNER -->
<div class="container-fluid">
    <div class="banner">
        <a class="d-none d-md-block" href="/" style="vertical-align:right"><img src="{% static 'img/logo-big.png' %}"
                alt=""></a>
        <a class="d-md-none" href="/" style="vertical-align:right"><img src="{% static 'img/logo-small.png' %}"
                alt=""></a>
    </div>
</div>

<!-- NAVBAR -->
<nav class="nav navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav w-auto mx-auto">
                <li class="nav-item dropdown">
                    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="all-products-link"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All Products
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                        <a href="" class="dropdown-item">By Price</a>
                        <a href="" class="dropdown-item ">By Rating</a>
                        <a href="" class="dropdown-item ">By Category</a>
                        <a href="{% url 'product_all' %}" class="dropdown-item">All Products</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Yarn
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="yarn-link">
                        <a href="{% url 'product_all' %}?categories=cotton" class="dropdown-item">Cotton</a>
                        <a href="{% url 'product_all' %}?categories=wool" class="dropdown-item">Wool</a>
                        <a href="{% url 'product_all' %}?categories=silk" class="dropdown-item">Silk</a>
                        <a href="{% url 'product_all' %}?categories=multi-colored" class="dropdown-item">Multi-colored</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Macramé
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="macrame-link">
                        <a href="" class="dropdown-item"></a>
                        <a href="" class="dropdown-item"></a>
                        <a href="" class="dropdown-item"></a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Embroidery
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="embroidery-link">
                        <a href="" class="dropdown-item"></a>
                        <a href="" class="dropdown-item"></a>
                        <a href="" class="dropdown-item"></a>
                        <a href="" class="dropdown-item"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>