{% load static %}

<!DOCTYPE html>
<html>

<head>

  <!-- META-->
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}

  <meta name="description" content="Unleash your creativity with a variety of fiber-materials
                 for all your creative works, from crochet to sewing, we have 
                 what you need!">
  <meta name="keywords" content="Knits&Knots, yarn, lion brand yarn, macrame cord,
        sewing materials, embroidery, hobby craft, hobby online,
        hobby store online, best yarn for crochet">

  <!-- CSS -->
  {% block corecss %}
  <!-- BOOTSTRAP-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">

  <!-- LOCAL -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endblock %}

  <!-- JAVASCRIPT-->
  {% block corejs %}
  <!-- ICONIFY-->
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

  <!-- FONT AWESOME -->
  <script src="https://kit.fontawesome.com/4863a75fd6.js" crossorigin="anonymous"></script>

  <!-- STRIPE -->
  <script src="https://js.stripe.com/v3/"></script>

  <!-- JQUERY -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>

  <!-- BOOTSTRAP-->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  {% endblock %}


  <title>{% block title %}Knits&Knots{% endblock %}</title>

</head>

<body>
  <header>
    <!-- TOP NAVBAR -->
    <ul class="nav justify-content-end">
      <li class="list-inline-item dropdown">
        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <div class="text-center">
            <div>
              <iconify-icon icon="octicon:person-16" width="30" height="30"></iconify-icon>
            </div>
            <p class="my-0">My Account</p>
          </div>
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="user-options">
          {% if request.user.is_authenticated %}
          {% if request.user.is_superuser %}
          <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
          {% endif %}
          <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
          <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
          <a href="{% url 'wishlist_view' %}" class="dropdown-item">Wishlist</a>
          {% else %}
          <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
          <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
          {% endif %}
        </div>
      </li>
      <li class="list-inline-item">
        <a class="{% if grand_total %} font-weight-bold{% else %}text-black{% endif %} nav-link"
          href="{% url 'basket' %}">
          <div class="text-center">
            <div>
              <iconify-icon icon="tabler:shopping-bag" width="30" height="30"></iconify-icon>
            </div>
            <p class="my-0">
              {% if grand_total %}
              ${{ grand_total|floatformat:2 }}
              {% else %}
              $0.00
              {% endif %}
            </p>
          </div>
        </a>
      </li>
    </ul>

    <!-- BANNER -->
    <div class="container-fluid">
      <div class="banner">
        <a class="d-none d-md-block" href="/" style="vertical-align:right"><img src="{% static 'img/logo-big.png' %}"
            alt=""></a>
        <a class="d-md-none" href="/" style="vertical-align:right"><img src="{% static 'img/logo-small.png' %}"
            alt=""></a>
      </div>
    </div>

    <!-- BOTTOM NAVBAR-->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="/">Home</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          {% for category in categories %}
          <li class="nav-item mx-auto">
            <a class="nav-link" href=" {{ category.get_absolute_url }}">{{ category.name }}</a>
          </li>
          {% endfor %}
          <li>
            <a href="{% url 'product' %}?category=yarn">Yarn</a>
          </li>
          <li>
            <a href="{% url 'product' %}?category=sewing-thread">Sewing Thread</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- FREE DELIVERY BANNER -->
    <div class="container-fluid">
      <div class="row free-delivery-banner">
        <h4>Free delivery on orders over ${{ free_delivery_threshold }}!</h4>
      </div>
    </div>
    <div class="col-6 col-md-4 mx-auto">
      <form class="form-inline input-group" method="GET" action="{% url 'product' %}">
        <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search product" aria-label="Search">
        <span class="input-group-btn"><button class="btn btn-outline-success my-2 my-sm-0"
            type="submit">Search</button></span>
      </form>
    </div>

  </header>

  {% if messages %}

  <div class="message-container">
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    {% include 'includes/toasts/toast_error.html' %}
    {% elif level == 30 %}
    {% include 'includes/toasts/toast_warning.html' %}
    {% elif level == 25 %}
    {% include 'includes/toasts/toast_success.html' %}
    {% else %}
    {% include 'includes/toasts/toast_info.html' %}
    {% endif %}
    {% endwith %}
    {% endfor %}
  </div>
  {% endif %}


  <div class="background">

    {% block content %}

    {% endblock %}
  </div>


  <!-- BACK TO TOP BUTTON -->


  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

  <!-- FOOTER -->


  <footer class="footer container-fluid">
    <div id="social-media-links">
      <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
        <iconify-icon icon="mdi:twitter"></iconify-icon>
      </a>
      <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
        <iconify-icon icon="mdi:facebook"></iconify-icon>
      </a>
      <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
        <iconify-icon icon="mdi:instagram"></iconify-icon>
      </a>
      <a href="https://www.pinterest.com/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
        <iconify-icon icon="mdi:pinterest"></iconify-icon>
      </a>
    </div>
    <div id="newsletter-subscribe">
      <a href="#">Subscribe to our newsletter!</a>
    </div>
  </footer>


  {% block postloadjs %}

  <!-- LOCAL -->
  <script src="{% static 'js/back-to-top-button.js' %}"></script>

  <script type="text/javascript">
    $('.toast').toast('show');
  </script>

  {% endblock %}
</body>

</html>