{% load static %}

<!DOCTYPE html>
<html>

<!-- Base template -->

<head>

  <!-- META-->
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}

  <meta name="description" content="Unleash your creativity with a variety of fiber-materials
                 for all your creative works, from crochet to sewing, we have 
                 what you need!">
  <meta name="keywords" content="Knits&Knots, yarn, lion brand yarn, macrame cord,
        sewing materials, embroidery, hobby craft, hobby online,
        hobby store online, best yarn for crochet">

  <!-- CSS -->
  {% block corecss %}
  <!-- BOOTSTRAP-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">

  <!-- LOCAL -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- MAILCHIMP -->
  <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">

  {% endblock %}

  <!-- JAVASCRIPT-->
  {% block corejs %}
  <!-- ICONIFY-->
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

  <!-- FONT AWESOME -->
  <script src="https://kit.fontawesome.com/4863a75fd6.js" crossorigin="anonymous"></script>

  <!-- STRIPE -->
  <script src="https://js.stripe.com/v3/"></script>

  <!-- JQUERY -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>

  <!-- BOOTSTRAP-->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  {% endblock %}


  <title>{% block title %}Knits&Knots{% endblock %}</title>

</head>

<body>
  <header>

    <!-- Top navbar -->
    <ul class="nav justify-content-end">
      <li class="list-inline-item dropdown">
        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <div class="text-center">
            <div>
              <iconify-icon icon="octicon:person-16" width="30" height="30"></iconify-icon>
            </div>
            <p class="my-0">My Account</p>
          </div>
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="user-options">
          {% if request.user.is_authenticated %}
          {% if request.user.is_superuser %}
          <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
          {% endif %}
          <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
          <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
          <a href="{% url 'wishlist_view' %}" class="dropdown-item">Wishlist</a>
          {% else %}
          <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
          <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
          {% endif %}
        </div>
      </li>
      <li class="list-inline-item">
        <a class="{% if grand_total %} font-weight-bold{% else %}text-black{% endif %} nav-link"
          href="{% url 'basket' %}">
          <div class="text-center">
            <div>
              <iconify-icon icon="tabler:shopping-bag" width="30" height="30"></iconify-icon>
            </div>
            <p class="my-0">
              {% if grand_total %}
              ${{ grand_total|floatformat:2 }}
              {% else %}
              $0.00
              {% endif %}
            </p>
          </div>
        </a>
      </li>
    </ul>

    <!-- Banner -->
    <div class="container-fluid">
      <div class="banner">
        <a class="d-none d-md-block" href="/" style="vertical-align:right"><img src="{% static 'img/logo-big.png' %}"
            alt=""></a>
        <a class="d-md-none" href="/" style="vertical-align:right"><img src="{% static 'img/logo-small.png' %}"
            alt=""></a>
      </div>
    </div>

    <!-- Bottom navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mx-auto mt-2 mt-lg-0">

          <li class="nav-item mx-auto">
            <a class="nav-link" href="{% url 'product' %}">All products</a>
          </li>
          <li class="nav-item mx-auto">
            <a class="nav-link" href="{% url 'product' %}?category=Yarn">Yarn</a>
          </li>
          <li class="nav-item mx-auto">
            <a class="nav-link" href="{% url 'product' %}?category=Sewing thread">Sewing Thread</a>
          </li>
          <li class="nav-item mx-auto">
            <a class="nav-link" href="{% url 'product' %}?category=Macramé">Macramé</a>
          </li>
          <li class="nav-item mx-auto">
            <a class="nav-link" href="{% url 'product' %}?category=Embroidery">Embroidery</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item mx-auto">
            <a class="nav-link" href="{% url 'videocall' %}">Free video tutorial</a>
          </li>
          {% else %}
          <li class="nav-item mx-auto">
            <a class="nav-link" href="{% url 'videocall_description' %}">Need help getting started?</a>
          </li>
          {% endif %}
          <li class="nav-item mx-auto">
            <a class="nav-link" href="{% url 'company_info' %}">About us</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Free delivery banner -->
    <div class="container-fluid">
      <div class="row free-delivery-banner">
        <h4>Free delivery on orders over ${{ free_delivery_threshold }}!</h4>
      </div>
    </div>
    <div class="col-6 col-md-4 mx-auto">
      <form class="form-inline input-group" method="GET" action="{% url 'product' %}">
        <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search product" aria-label="Search">
        <span class="input-group-btn "><button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            <iconify-icon icon="mingcute:search-line" width="30" height="30"></iconify-icon>
          </button></span>
      </form>
    </div>

  </header>

  <!-- Messages -->
  {% if messages %}
  <div class="message-container">
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    {% include 'includes/toasts/toast_error.html' %}
    {% elif level == 30 %}
    {% include 'includes/toasts/toast_warning.html' %}
    {% elif level == 25 %}
    {% include 'includes/toasts/toast_success.html' %}
    {% else %}
    {% include 'includes/toasts/toast_info.html' %}
    {% endif %}
    {% endwith %}
    {% endfor %}
  </div>
  {% endif %}


  <!-- Block content container -->
  <div class="background">

    {% block content %}

    {% endblock %}
  </div>

  <!-- FOOTER -->
  <footer class="footer container-fluid">
    <div id="social-media-links">
      <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
        <iconify-icon icon="mdi:twitter"></iconify-icon>
      </a>
      <a href="https://www.facebook.com/profile.php?id=61553571661856" target="_blank" rel="noopener noreferrer"
        aria-label="Facebook">
        <iconify-icon icon="mdi:facebook"></iconify-icon>
      </a>
      <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
        <iconify-icon icon="mdi:instagram"></iconify-icon>
      </a>
      <a href="https://www.pinterest.com/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
        <iconify-icon icon="mdi:pinterest"></iconify-icon>
      </a>
    </div>
    <!-- NEWSLETTER LINK-->
    <div id="newsletter-subscribe">
      <div id="mc_embed_shell">

        <div id="mc_embed_signup">
          <form
            action="https://herokuapp.us8.list-manage.com/subscribe/post?u=5d7dc119943063fa28baa2c3d&amp;id=e4c5641333&amp;f_id=000071e0f0"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank">
            <div id="mc_embed_signup_scroll">
              <h2>Subscribe to our newsletter!</h2>
              <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
              <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span
                    class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email"
                  id="mce-EMAIL" required="" value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span></div>
              <div id="mce-responses" class="clear foot">
                <div class="response" id="mce-error-response" style="display: none;"></div>
                <div class="response" id="mce-success-response" style="display: none;"></div>
              </div>
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot
                signups  --> 
                <input type="text" name="b_5d7dc119943063fa28baa2c3d_e4c5641333" tabindex="-1" value="">
              </div>
              <div class="optionalParent">
                <div class="clear foot">
                  <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                  <p style="margin: 0px auto;"><a href="http://eepurl.com/iD2ydQ"
                      title="Mailchimp - email marketing made easy and fun"><span
                        style="display: inline-block; background-color: transparent; border-radius: 4px;"><img
                          class="refferal_badge"
                          src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                          alt="Intuit Mailchimp"
                          style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a>
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>

    </div>
  </footer>

  <!-- Back to top button -->
  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

  <!-- Script -->
  {% block postloadjs %}
  {{ block.super }}

  <!-- Mailchimp -->
  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
  <script type="text/javascript">
    (function ($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = 'EMAIL';
      ftypes[0] = 'email';
      fnames[1] = 'FNAME';
      ftypes[1] = 'text';
      fnames[2] = 'LNAME';
      ftypes[2] = 'text';
      fnames[3] = 'ADDRESS';
      ftypes[3] = 'address';
      fnames[4] = 'PHONE';
      ftypes[4] = 'phone';
      fnames[5] = 'BIRTHDAY';
      ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
  </script>

  <!-- Back to top button -->
  <script src="{% static 'js/back-to-top-button.js' %}"></script>

  <!-- Display toasts -->
  <script type="text/javascript">
    $('.toast').toast('show');
  </script>

  {% endblock %}
</body>

</html>