{% extends 'base.html' %}
{% load static %}

{% block title %}Product management{% endblock %}

<!-- Template for Superuser to add a new products
    directly on the website -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Product management</h2>
            <h3>Add a new product</h3>
            <hr>
        </div>
        <div class="row">
            <!-- Submit new product -->
            <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-right">
                    <button class="btn btn-green rounded-0" type="submit">Add Product</button>
                    <a class="btn btn-outline-danger rounded-0" href="{% url 'product' %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}