{% extends "base.html" %}


{% block content %}

<div class="container">
  <main class="pt-5">
    <div class="row g-3">
      <div class="col-md-5 col-lg-5 order-md-first">
        {% if product.image %}
        <a href="{{ product.image.url }}" target="_blank">
          <img class="img-fluid rounded" src="{{ product.image.url }}" alt="{{ product.name }}">
          {% else %}
          <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }}">
          {% endif %}
        </a>
      </div>

      <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
        <h1 class="mb-0 h4">{{ product.name }}</h1>
        <p>Brand:<span class="lead">{{ product.brand }}</span></p>
        <p>Category:<span class="lead">{{ product.category }}</span></p>
        <p>Tag:<span class="lead">{{ product.tag }}</span></p>
        <p>Description:{{ product.description|slice:":355" }}...</p>

        {% with product.has_colors as color %}
        {% if color %}
        <div class="col-12">
          <p><strong>Colors:</strong></p>
          <select class="form-control rounded-0 w-50" name="product_color" id='id_product_color'>
            <option value="red">red</option>
            <option value="green">green</option>
            <option value="yellow" selected>yellow</option>
            <option value="purple">purple</option>
            <option value="black">black</option>
          </select>
        </div>
        {% else %}
        <p>No color variations</p>
        {% endif %}
        <div class="border">
          <div class="col border-bottom">

            <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
              {% csrf_token %}
              <div class="form-row">
                <div class="col-12">
                  <div class="form-group w-50">
                    <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99"
                      data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                    <span class="h4 fw-bold">£{{ product.price }}</span>
                  </div>
                </div>
              </div>
          </div>
          {% endwith %}
          <div class="col-12">
            <a href="{% url 'product' %}" class="btn btn-outline-success">
              <span>Keep shopping</span>
            </a>
            <input type="submit" class="btn btn-outline-success" id="add-basket" value="{{product.id}}">
          </div>
          <input type="hidden" name="redirect_url" value="{{ request.path }}">
          </form>

          {% if user.is_authenticated %}
          {% if is_in_wishlist%}
          <a href="{% url 'delete_wishlist_item' product.id %}" aria-label="Remove product from wishlist"
            class="text-danger ml-3">
            <i class="fas fa-heart"></i>
            <p class="small mt-1 mb-0 text-muted">Remove from Wishlist</p>
          </a>
          {% else %}
          <a href="{% url 'add_to_wishlist' product.id %}" aria-label="Add product to wishlist"
            class="text-danger ml-3">
            <iconify-icon icon="ph:heart-duotone" style="color: #66b100;" width="40" height="40" class="fav-icon">
            </iconify-icon>
            <p class="small mt-1 mb-0 text-muted">Add to Wishlist</p>
          </a>
          {% endif %}
          {% endif %}

        </div>
      </div>
    </div>
    {% if request.user.is_superuser %}
    <a href="{% url 'edit_product' product.id %}"><small class="text-muted">Edit</small></a>
    <a href="{% url 'delete_product' product.id %}"><small class="text-muted">Delete</small></a>
    {% endif %}
</div>
</main>
<!--Source for previous page button:
  https://stackoverflow.com/questions/2968425/ -->
  <div class="col text-center"><button class="btn" type="button" onclick="history.back();">Back</button></div>

</div>
{% endblock %}