{% extends "base.html" %}


{% block content %}

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold">Products title</h1>
        <p class="lead text-muted">
          <div>
            <div>
              <p>Explore tags!</p>
              <div class="">
                <a class="btn tag-btn" href="{% url 'product' %}?tags=Cake" role="button">Cake</a>
                <a class="btn tag-btn" href="{% url 'product' %}?tags=Colorful" role="button">Colorful</a>
                <a class="btn tag-btn" href="{% url 'product' %}?tags=Cotton" role="button">Cotton</a>
                <a class="btn tag-btn" href="{% url 'product' %}?tags=Holiday" role="button">Holiday</a>
                <a class="btn tag-btn" href="{% url 'product' %}?tags=Polyester" role="button">Polyester</a>
                <a class="btn tag-btn" href="{% url 'product' %}?tags=Wool" role="button">Wool</a>
                <a class="btn tag-btn" href="{% url 'product' %}?tags=Beginner friendly" role="button">Beginner friendly</a>
                <a class="btn tag-btn" href="{% url 'product' %}?tags=Cozy" role="button">Cozy</a>
              </div>
            </div>
        </p>
      </div>
    </div>
  </section>

  <section>
    {% include 'includes/product-description.html' %}
  </section>

  <div class="album py-5">
    <div class="container-fluid">
      <div class="row d-flex justify-content-around p-3 m-1">

        {% for product in products %}

        <div class="col">
          <div class="card product-card m-2 align-items-center">
            <a href="{% url 'product_detail' product.id %}">
              {% if product.image %}
              <img class="product-img img-fluid rounded mx-auto d-block w-100" src="{{ product.image.url }}"
                alt="{{ product.name }}">
              {% else %}
              <img class="product-img img-fluid rounded mx-auto d-block" src="{{ MEDIA_URL }}noimage.jpg"
                alt="{{ product.name }}">
              {% endif %}
            </a>
            <div class="card-body w-100">
              <p>
                <a class="text-dark text-decoration-none"
                  href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
              </p>
              <div class="justify-content-between">
                <small class="text-muted">{{ product.category }}</small>
                <small class="text-muted">
                  {% for tag in product.tags.all  %}
                  {{ tag.name }}
                  {% endfor %}
                </small>
                <small class="text-muted fw-bold">£{{ product.price }}</small>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>
</main>

<!-- BACK TO TOP BUTTON -->


<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
{% endblock %}