{% extends "base.html" %}


{% block content %}
Products page

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>

      {% for product in products %}

        <td>{{ product.name }}</td>
        <td>{{ product.brand }}</td>
        <td>{{ product.image }}</td>

      {% endfor %}

      
    </tr>
    </tbody>
  </table>

  {% endblock %}

    