{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block title %}Videocall{% endblock %}

<!-- Template for users to fill out a
      form to be gifted a free videocall -->

{% block content %}
<div class="videocall-container">
  <div class="text-center">
    <h3>All these fantastic ideas but no clue where to start?</h3>
    <br>
    <p>No worries! Here at Knits&Knots, we're eager to get you started on your <br>
      journey, so whatever you might need help with, we are here for you! <br><br>
      As a member, we offer free advice via video to get going on that passion project, <br>
      pick out the most suitable yarn, or decide what size knitting needle goes with that sweater! <br><br>

      All you need to to is fill out the form, and we'll contact you with a time and instructions to help you <br>
      get your knots knitting!</p>
  </div>


  <br>
  <hr class="mx-auto" style="max-width: 60rem;">
  <br>

  <!-- Form -->

  <input type="text" name="datetimes" />


  <div class="form-control-sm w-75 p-3 mx-auto">
    <form action="{% url 'videocall' %}" method="POST">
      {% csrf_token %}
      {{ form | crispy }}
      <button id="submit-button" class="btn btn-green rounded-0">
        <span class="font-weight-bold text-uppercase">Book videocall</span>
      </button>
      <a href="{% url 'product' %}" class="btn btn-outline-danger rounded-0">
        <span class="icon text-uppercase">
          Go back
        </span>
      </a>
    </form>
  </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
  $(function() {
    $('input[name="datetimes"]').daterangepicker({
      timePicker: true,
      singleDatePicker: true,
      minYear: 2023,
      minDate: 11/23/2023,
      maxYear: parseInt(moment().format('YYYY'),10),
      locale: {
        format: 'M/DD hh:mm A'
      }
    });
  });
  </script>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
{% endblock %}