{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="videocall-container">
  <div class="text-center">
    <h3>All these fantastic ideas but no clue where to start?</h3>
    <br>
    <p>No worries! Here at Knits&Knots, we're eager to get you started on your <br>
      journey, so whatever you might need help with, we are here for you! <br><br>
      As a member, we offer free advice via video to get going on that passion project, <br>
      pick out the most suitable yarn, or decide what size knitting needle goes with that sweater! <br><br>

      All you need to to is fill out the form, and we'll contact you with a time and instructions to help you <br>
      get your knots knitting!</p>
  </div>
</div>

<br>
<hr class="mx-auto" style="max-width: 60rem;">
<br>

<div class="form-control form-control-sm w-75 p-3 mx-auto">
  <form action="" method="POST">
    {% csrf_token %}
    {{ video_form | crispy }}
  </form>
</div>

<div class="w-75 p-3 mx-auto">
  <form action="{% url 'videocall_success' %}" method="POST">
    {% csrf_token %}
    <button id="submit-button" class="btn btn-outline-success">
      <span class="font-weight-bold">Complete Order</span>
      <span class="icon">
          <i class="fas fa-lock"></i>
      </span>
  </button>
    <a href="{% url 'product' %}" class="btn btn-outline-info">
      <span>Keep shopping</span>
    </a>
    <input type="hidden" name="redirect_url" value="{{ request.path }}">
  </form>
</div>

{% endblock %}