<div class="toast rounded-0" data-autohide="false">
    <div class="alert alert-success" role="alert" id="toast">
        <div class="toast-header">
            <strong>
                <p>Success!</p>
            </strong>
            <button type="button" data-dismiss="toast" aria-label="Close"> <span aria-hidden="true">X</span></button>
        </div>

        <div class="toast-body">
            {{ message }}
        </div>
        {% if grand_total %}
        <p>Your basket: {{ product_count }}</p>
        <div class="toast-wrapper">
            {% for item in basket_items %}
            <div class="row">
                <div class="col-3">
                    {% if product.image %}
                    <img class="img-fluid rounded" src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                    <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }}">
                    {% endif %}

                </div>
                <div class=" col-9">
                    <p>{{ product.name }}</p>
                    <p>Quantity: {{ item.quantity }}</p>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <a href="{% url 'basket' %}">Secure Checkout</a>
        </div>
    </div>
</div>